SERVICE_NAME=project-service
DEBUG=false
PORT=8003
DATABASE_URL=postgresql+asyncpg://nexus:nexus_secret_2024@project-postgres:5432/nexus_projects
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_PROJECT_EVENTS=nexus.project.events
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
OTEL_ENABLED=true
