SERVICE_NAME=organization-service
DEBUG=false
PORT=8002

DATABASE_URL=postgresql+asyncpg://nexus:nexus_secret_2024@org-postgres:5432/nexus_org
DATABASE_POOL_SIZE=10
DATABASE_MAX_OVERFLOW=20

REDIS_URL=redis://redis:6379/0

KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_ORG_EVENTS=nexus.org.events
KAFKA_TOPIC_USER_EVENTS=nexus.user.events
KAFKA_CONSUMER_GROUP=org-service

INVITATION_EXPIRE_HOURS=72
FRONTEND_URL=http://localhost:3000

OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
OTEL_ENABLED=true
